<footer class="footer">
  <div class="row">
    <div class="small-12 small-centered columns">

      <div class="row">
        <div class="small-12 columns menu-centered">
          <ul class="menu social-links">
            <li>
              <a href="https://github.com/rquant">
                <img src="{{root}}/assets/img/logos/GitHub-Mark-Light-32px.png">
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/ryan-quant-a79b63a4">
                <img src="{{root}}/assets/img/logos/In-White-34px-R.png">
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="small-12 columns menu-centered contact-info">
          <ul class="medium-horizontal menu">
            <li class="show-for-medium">Albuquerque, NM</li>
            <li><a href="mailto:rquant@icloud.com">rquant@icloud.com</a></li>
            <li>+1 (505) 401-9844</li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</footer>
