<section class="hero">
  <div class="row intro">
    <div class="small-centered small-12 columns">
      <h1>Ruby on Rails Developer</h1>
      <p>
        Mid-level web application engineer with professional development
        experience accross the stack with the Ruby on Rails framework. Hungry
        to learn new tech in and outside of work, because coding is fun and
        doesn't get old.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns menu-centered">
      <ul class="menu social-links">
        <li>
          <a href="https://github.com/rquant">
            <img src="{{root}}/assets/img/logos/GitHub-Mark-Light-64px.png">
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/ryan-quant-a79b63a4">
            <img src="{{root}}/assets/img/logos/In-White-34px-R.png">
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
